<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://172.22.103.6:3306/BDRURAL?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">rural</property>
        <property name="hibernate.connection.password">passrural</property>
        <mapping resource="POJO/Alojamientos.hbm.xml"/>
        <mapping resource="POJO/Tipos.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
